.slider {
    background: url(../img/arcane_bg_3.png) center center/cover no-repeat;
    padding-top: 55px;
    padding-bottom: 55px;
    min-height: 100vh;
    color: white;
    &__flexwrap {
        margin: 0 auto;
        display: flex;
        transition: 0.5s all;
    }
    &__sz {
        margin-top: 15px;
        overflow: hidden;
    }
    &-btns {
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin-top: 15px;
        position: relative;
    }
}
.slide {
max-width: 100vw;
z-index: 3;
}
#maxSlide {
    font-size: 55px;
}

@media (max-width: 350px) {
    #prev, #next {
        height: 50px;
        width: 50px;
        margin-top: 15px;
    }
}

.dots {
    position: absolute;
    z-index: 3;
    top: -100px;
    display: flex;
    justify-content: center;
    transform: translateX(20%);
}

.dot {
    margin: 0 25px;
    color: rgba(0, 0, 0, 0.555);
    cursor: pointer;
    font-size: 60px;
}

.activeDot 
{
    color: black;
}
