$maincolor: #1b9c37;
$maingradient: linear-gradient(to right, rgb(29, 99, 1), $maincolor);

@mixin before_circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;      
        border-radius: 100%; 
        background: $maingradient;
        position: absolute;
        top: -5px;
    }
}

@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
@import 'buttons';
@import 'header';
@import 'sidepanel';
@import 'descr';
@import 'modal';
@import 'exp';
@import 'slider';
@import 'calc';
@import 'nav';

.show {
    display: block;
}
.hide {
    display: none;
}
body {
    overflow-x: hidden;
}